<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Website in Development</title>
        <!--Enlazo el código html con el fichero css que contendrá el estilo de la página-->
        <link rel="stylesheet" href="index.css">
    </head>
    <body>

    <div class="aux">
        <h1>Login here</h1>
        <form method="post" action="/login">
            <label for "name"> Username </label>
            <input name="name" type="text" placeholder="Enter Username"></input>

            <label for "password"> Password </label>
            <input name="password" type="password" placeholder="Enter Password"></input>
            <input type="submit" value="Log In">

            <a href="#"> I forgot my password </a>

        </form>
    </div>
