<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Website in Development</title>
        <!--Enlazo el código html con el fichero css que contendrá el estilo de la página-->
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
    %if logged:
        <div class="aux">
            <div id="data">
                <h1>Hi, {{ logged.name }} </h1>
                <form method="post" action="/editProfile">
                    <label for "username"> username </label>
                    <input name="username" type="text" value={{ logged.name }}></input>

                    <br/>
                    <input type="submit"value="Actualizar perfil" >
                </form>
                
                <form method="post" action="/logout">
                    <input type="submit"value="Log out" >
                </form>
            </div>
        </div>

        <main>
            <form action="/publicaciones" method="post">
                <input name="contenido" type="textarea" placeholder="¿Qué está pasando?"></input>
                <input type="submit"value="Publicar" >
            </form>
            <div class="Muro">
            % for p in reversed(logged.publicaciones): 
                <div class="publicacion">
                    <p><strong>{{ p.nombre }}</strong></p>
                    <p>{{ p.contenido}}</p>
                    <p>{{ p.fecha }}</p>
                </div>
            % end
            </div>

        </main>

</body>
</html