<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Website in Development</title>
        <!--Enlazo el código html con el fichero css que contendrá el estilo de la página-->
        <link rel="stylesheet" href="index.css">
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body>
    %if logged:
        <div class="aux">
            <div id="data">
                <h1>Hi, {{ logged.name }} </h1>
                <br/>
                <form method="post" action="/editProfile">
                    <label for "username"> Username </label>
                    <input name="username" type="text" value={{ logged.name }}></input>
                    <br/>
                    <input alt="Si actualizas el nombre de usuario tendrás que iniciar sesion de nuevo"name="newname" type="submit"value="Actualizar perfil" >
                </form>
                
                <form method="post" action="/logout">
                    <input type="submit"value="Log out" >
                </form>

                <form method="post" action="/verAmigos">
                    <input type="submit"value="Ver seguidos" >
                </form>

                <form method="post" action="/verSeguidores">
                    <input type="submit"value="Ver seguidores" >
                </form>

            </div>

        </div>

        <main>
            <div class="search">
                <form method="post" action="/buscar">
                    <input name="consulta" type="text"  placeholder="Search..." />
                </form>
              </div>

            <div class="publicar">
                <form action="/publicaciones" method="post">
                    <input name="contenido" type="textarea" placeholder="¿Qué está pasando?"></input>
                    <input type="submit"value="Publicar" >
                </form>
            </div>

            <div class="Muro">
            %a = 0
            % for p in reversed(logged.publicaciones): 
                <div class="comment-main-level">
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
                            <h6 class="comment-name by-author">{{ p.nombre }}</h6>
							<span>{{ p.fecha }}</span>
						</div>
						<div class="comment-content">
                            {{ p.contenido}}
                            <form method="post" class="eliminar" action="/eliminarPublicacion">
                                <input type="submit" value="Eliminar" >
                                <input type="button" value="Comentar" onclick="mostrarComentario({{a}})">
                                <input type="hidden" name="id" value={{p.id}}>
                            </form>
                        </div>

                        <form method="post" class="comentarPublicacion" action="/comentarPublicacion" style="display:none;">
                            <input type="hidden" name="id" value={{p.id}}>
                            <input type="hidden" name="visita" value=1>
                            <input name="comentario" type="text"  placeholder="Deja tu comentario" />
                        </form>

                    </div>
                    <ul class="comments-list reply-list">
                        <li>
                            % for c in reversed(p.comentarios):
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author">{{ c.nombre }}</h6>
                                    <span>{{ c.fecha }}</span>
                                </div>
                                <div class="comment-content">
                                    {{ c.contenido }}
                                    <form method="post" class="eliminar" action="/eliminarComentario">
                                        <input type="submit" value="Eliminar" >
                                        <input type="hidden" name="id" value={{c.id}}>
                                    </form>
                                </div>
                                <br/>
                            </div>
                            
                            % end
                        </li>
                    </ul>
                </div>
                <br/>
                %a=a+1
            % end
            </div>

        </main>
        %if error == 4:
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Usuario no encontrado
        </div>
        %end

</body>
</html